{% extends 'base.html' %}
{% load static %}
{% block title %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Jumlah Mahasiswa Yang Melamar Instansi</title>
    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }
		</style>
    </head>
{% endblock %}
{% block content %}
    <body>    
        <!-- Script Highcharts-->
        <script src="{% static 'Highcharts-7.1.2/code/highcharts.js' %}"></script>
        <script src="{% static 'Highcharts-7.1.2/code/modules/exporting.js' %}"></script>
        <script src="{% static 'Highcharts-7.1.2/code/modules/export-data.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- CSS Datatables-->
        <link rel="stylesheet" href="{% static 'DataTables-1.10.18/datatables.min.css' %}">
        <!-- Script Dan CSS Modals -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous">
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
        <!-- Script Datatables-->
        <script src="{% static 'DataTables-1.10.18/datatables.min.js' %}"></script>
             
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
             
        <!-- modals dan datatables-->
             
        <!-- Modal Trigger Button -->
        <button type="button" class="btn btn-success" data-toggle="modal"
        data-target="#practiseModal">
        Semua Peserta
        </button>
        <!-- Modal Body -->
        <div class="modal fade" id="practiseModal" tabindex="-1" role="dialog"
            aria-labelledby="practiseModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title" id="practiseModalLabel">
                                 Peserta dan Jawabannya</h5>
                             <button type="button" class="close"
                                     data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">×</span>
                             </button>
                         </div>
                         <div class="modal-body">
                             <table id="table_id" class="display" width="100%">
                                 <thead>
                                 <tr>
                                     <th>Nim</th>
                                     <th>Jawaban</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in data %}
                                 <tr>
                                     <td>{{ i.nim }}</td>
                                     <td>{% if i.f6 == 1 %}
                                             1-3 Instansi
                                         {% elif i.f6 == 2 %}
                                             4-6 Instansi
                                         {% elif i.f6 == 3 %}
                                             7-10 Instansi
                                         {% elif i.f6 == 4 %}
                                             Lebih Dari 10 Instansi
                                         {% else %}
                                             Tidak Menjawab
                                         {% endif %}
                                 </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
      <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>    
    <script type="text/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Jumlah Mahasiswa Yang Melamar Instansi'
            },
            subtitle: {
                text: 'Source: Database Internal'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Mahasiswa'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Jumlah Mahasiswa Yang Melamar:<b>{point.y:.1f} </b>'
            },
            series: [{
                name: 'Population',
                data: [
                    {
                        name:   '1-3 Instansi',
                        y:  {{ A }},
                        events: {
                                    click:function() {
                                        $(document).ready(function (){
                                            var table = $('#table_id').DataTable({
                                            destroy:true,
                                            search: {
                                                search: '1-3 Instansi'
                                                },
                                            });
                                        });
                                        $('#practiseModal').modal('show');
                                    }
                                }
                        
                    },
                    {   name:   '4-6 Instansi', 
                        y:  {{ B }},
                        events: {
                                    click:function() {
                                        $(document).ready(function (){
                                            var table = $('#table_id').DataTable({
                                            destroy:true,
                                            search: {
                                                search: '4-6 Instansi'
                                                },
                                            });
                                        });
                                        $('#practiseModal').modal('show');
                                    }
                                }
                    },
                    {   name:   '7-10 Instansi',
                        y:  {{ C }},
                        events: {
                                    click:function() {
                                        $(document).ready(function (){
                                            var table = $('#table_id').DataTable({
                                            destroy:true,
                                            search: {
                                                search: '7-10 Instansi'
                                                },
                                            });
                                        });
                                        $('#practiseModal').modal('show');
                                    }
                                }
                    },
                    {   name:   'Lebih Dari 10 Instansi', 
                        y:  {{ D }},
                        events: {
                                    click:function() {
                                        $(document).ready(function (){
                                            var table = $('#table_id').DataTable({
                                            destroy:true,
                                            search: {
                                                search: 'Lebih Dari 10 Instansi'
                                                },
                                            });
                                        });
                                        $('#practiseModal').modal('show');
                                    }
                                }
                    },
                    {
                        name:   'Tidak Menjawab', 
                        y:  {{ E }},
                        events: {
                                    click:function() {
                                        $(document).ready(function (){
                                            var table = $('#table_id').DataTable({
                                            destroy:true,
                                            search: {
                                                search: 'Tidak Menjawab'
                                                },
                                            });
                                        });
                                        $('#practiseModal').modal('show');
                                    }
                                }
                    }
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
        $('#table_id').DataTable({
                    destroy:true,
                    search:false,
            });
                </script>
            </body>
{% endblock %}
        