{% extends 'base.html' %}
{% load static %}
{% block title %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bidang pekerjaan alumni</title>
	<style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }
		</style>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="{% static 'jquery-loading-master/dist/jquery.loading.min.css' %}">
	<!--Datatables css-->
	<link rel="stylesheet" href="{% static 'DataTables-1.10.18/datatables.min.css' %}">
</head>
{% endblock %}
{% block content %}
<body>
<script src="{% static 'Highstock-7.1.2/code/highstock.js' %}"></script>
<script src="{% static 'Highstock-7.1.2/code/modules/exporting.js' %}"></script>
<script src="{% static 'jquery-loading-master/dist/jquery.loading.min.js' %}"></script>
<link rel="stylesheet"
	  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	  crossorigin="anonymous">
<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
<!--Datatables Js-->
<script src="{% static 'DataTables-1.10.18/datatables.min.js' %}"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div class="modal fade" id="practiseModal" tabindex="-1" role="dialog"
aria-labelledby="practiseModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="practiseModalLabel">
                Title of the Modal</h5>
            <button type="button" class="close"
                    data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="table_id" class="display" width="100%">
                <thead>
                <tr>
                    <th>Nim</th>
                    <th>Nama</th>
                    <th>Tahun Kelulusan</th>
                    <th>Tempat Lahir</th>
                    <th>Tanggal Lahir</th>
                    <th>Alamat</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger"
                    data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
<!-- Script Chart-->
<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>    
<script type="text/javascript">
var table = $('#table_id').DataTable();
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Jenis Perusahaan Tempat Mahasiswa Bekerja'
    },
    subtitle: {
        text: 'Source: Database Internal'
    },
    xAxis: {
        categories: [
            "Instansi Pemerintah (Termasuk BUMN)",
            "Organisasi Non Profit/ Lembaga Swadaya Masyarakat",
            "Perusahaan Swasta",
            "Wiraswasta / Perusahaan Sendiri",
            "Lainya"
        ],
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Alumni'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Jumlah Alumni Yang Melamar Jenis Perusahaan Ini:<b>{point.y:.1f} </b>'
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:f} Alumni'
            }
        }
    },               
    series: [
        {
            name: "Jumlah Alumni",
            colorByPoint: true,
            cursor: 'pointer',
            data: [
                {% for i in data %}
                {
                    y: {{ i.0 }},
                    events: {
                    click: function() {
                            table.destroy();
                            $("#content").html("");
                            urls = "{% url 'fill' i.1 5 %}";
                            fill({{ i.1 }},urls);
                        }
                    }
                },
                {% endfor %}
            ]
        }
    ]
});
function fill(filter,urls){
	$('#container').loading();
    $.ajax({
    url: urls,
    type: 'POST',
    dataType: 'JSON',
    data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'filter': filter,
     }
    })
    .done(function(response){
    $.each(response, function(key, value){
        var tr = document.createElement("TR");
        tr.setAttribute("id",value.nim);
        document.getElementById("content").appendChild(tr);
        var list = [
                value.nim,
                value.nama,
                value.th_lulus,
                value.tmp_lhr,
                value.tgl_lhr,
                value.alamat
            ];
        var x;
        for (x of list){
            var td = document.createElement("TD");
            var text = document.createTextNode(x);
            td.appendChild(text);
            document.getElementById(value.nim).appendChild(td);
        }
    });
    table = $('#table_id').DataTable();
    $('#container').loading('stop');
    $('#practiseModal').modal('show');
    });
}
		</script>
</body>
{% endblock %}