{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Waktu Alumni Mencari Pekerjaan</title>
    <style type="text/css">
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }
		</style>
</head>
    <body>
<script src="{% static 'Highcharts-7.1.2/code/highcharts.js' %}"></script>
<script src="{% static 'Highcharts-7.1.2/code/modules/data.js' %}"></script>
<script src="{% static 'Highcharts-7.1.2/code/modules/drilldown.js' %}"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


		<script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Grafik Kelulusan Mahasiswa Tiap Tahun'
    },
    subtitle: {
        text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Count Mahasiswa Data'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:f} Mahasiswa'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:f}</b> of total<br/>'
    },

    series: [
        {
            name: "Jumlah Mahasiswa",
            colorByPoint: true,
            data: [
                {% for i in th_lulus %}
                {
                    name: "{{ i.0 }}",
                    y: {{ i.1 }},
                    drilldown: "{{i.0}}"
                },
                {% endfor %}
            ]
        }
    ],
    drilldown: {
        series: [
            {% for i in th_lulus %}
            {
                name: "jumlah Mahasiswa",
                id: "{{i.0}}",
                data: [
                    [
                        "{{i.0}}",
                        {{i.1}}
                    ]

                ]
            },
            {% endfor %}
        ]
    }
});
		</script>
    </body>
</html>